//Add your styles into this file
@use "sass:selector";

main, .wrapper {
  padding: 0 !important;

  @include media-breakpoint-down(md) {
      position: relative;
      overflow: hidden;
  }
}

body {
  font-family: Montserrat,sans-serif!important;
}

.row {
  --bs-gutter-x:0;
  @include media-breakpoint-down(xxl) {
    --bs-gutter-x:1.5rem;
  }
}

::-webkit-scrollbar {
  display: none;
}  
  /* Character Styles */
  .h1 {
  font-family: $unnamed-font-family-montserrat;
  font-style: $unnamed-font-style-normal;
  font-weight: $unnamed-font-weight-bold;
  font-size: $unnamed-font-size-54;
  line-height: $unnamed-line-spacing-66;
  letter-spacing: $unnamed-character-spacing-0;
  }
  .h2 {
  font-family: $unnamed-font-family-montserrat;
  font-style: $unnamed-font-style-normal;
  font-weight: $unnamed-font-weight-bold;
  font-size: $unnamed-font-size-34;
  line-height: $unnamed-line-spacing-42;
  letter-spacing: $unnamed-character-spacing-0;
  }


  #bottom-menu .active > a.nav-link {
    color: $secondary !important;
  }

  #top-menu .active > a.nav-link {
    color: $info !important;
  }

  footer {
    hr {
      width: 100% !important;
      max-width: 1370px !important;
      border-top: 1px solid white !important;
      opacity: 1 !important;
    }
    .navbar-brand > img {
      filter: brightness(10);
    }
  }

  li::marker {
    content: "";
  }

  .lasted-post {
    background: #E8F1F6;
    max-width: 430px;
    max-height: 530px;
    width: 100%;
  }

  .carousel-cell {
    max-width: 430px;
    max-height: 530px;
  }

  .flickity-page-dot.is-selected {
    background: $secondary !important;
  }

  $grey-btn: #989898;
  
  .btn-outline-lasted-post {
    --bs-btn-color: #{$grey-btn};
    --bs-btn-border-color: #{$grey-btn};
    --bs-btn-hover-bg: #{$grey-btn};
    --bs-btn-hover-border-color: #{$grey-btn};
    --bs-btn-active-bg: #{$grey-btn};
    --bs-btn-active-border-color: #{$grey-btn};
    --bs-btn-disabled-color: #{$grey-btn};
    --bs-btn-disabled-border-color: #{$grey-btn};
}
